body {
    font-family: Times New Roman, Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #45928c;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

nav ul li a:hover {
    color: #ff6347;
}

section {
    padding: 20px;
}

section h2 {
    color: #333;
}

footer {
    background-color: #45928c;
    padding: 10px;
    text-align: center;
    font-size: 12 px;
    color: #000000;
}

.container {
    text-align: justify;
}

.container {
    background-image: url(hq720.jpg);
    opacity: 0.7;
        }
